/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f7fafc; /* Equivalent to bg-gray-100 */
  display: flex;
  min-height: 100vh; /* Equivalent to min-h-screen */
  padding-top: 4rem; /* Equivalent to mt-16, ensuring space for the navbar */
  margin: 0;
}

  .quote-container {
    margin-top: 20px;
  }
  
  .quote {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  